* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: darkviolet;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: black;
    margin: 0;
    text-align: center;
}

header h2 {
    color: black;
    font-size: 25px;
    text-align: center;
}

.hero {
    height: 300px;
    background-image: url(../avocado-toast/forest.JPG);
}

.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(red, green, blue, alpha);
    padding: 50px;
    text-align: center;
    background-color: silver;
    color: black;
    font-size: x-large;
}

main {
    background-color: blueviolet;
}

body main h4 {
    padding: 30px 45px;
    text-align: center;
    color: black;
    font-size: 35px;
}

body main p {
    font-size: 15px;
    color: black;
    text-align: center;
}

body main article {
    font-size: 15px;
    color: black;
    text-align: center;
}
