body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(to right, lightcoral, black);
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: black;
    margin: 0;
    text-align: center;
}

main {
    background: linear-gradient(to right, lightcoral, black);
    mix-blend-mode: overlay;
}

footer {
    background: linear-gradient(to right, lightcoral, black);
}